doctype html
html(lang="en")
	head
		title= "About This Cool Thang"
	body
		h1 Here's something everyone can enjoy!
		if youAreUsingJade
			p You are amazing!
		else
			p Nothing
		p.
			What you know about that?