<!DOCTYPE html>
<html lang="en" ng-app="getContacts">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Call Logger</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body >
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">PRM</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
<!-- Title Section -->
      <h1 class="header center orange-text">Call Logger</h1>
      <div class="row center">
        <h5 class="header col s12 light">A personal relationship management app</h5>
      </div>
<!-- End Title Section -->

<!-- <div ng-controller='mainController'>
  <ul>
    <li ng-repeat="contact in contacts">{{contact.firstname}}</li>
  </ul>
</div> -->


<!-- New call log form -->
<div class="container" ng-controller='mainController'>

  <form>
    <div class="form-group">
      <select class="browser-default col s4" ng-model="formData.callId">
      <option value="" disabled selected>Choose contact</option>
      <option ng-repeat="contact in contacts" value={{contact.id}}>{{contact.firstname}}</option>
    </select>
      <input type="date" claass="form-control input-lg" ng-model="formData.callDate">
      <input type="text" class="form-control input-lg" placeholder="Call notes" ng-model="formData.callNotes">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" ng-click="addCall()">Log Call</button>
  </form>
    <button type="submit" class="btn" ng-click="getContactNames()"></button>
</div>


<!-- End of new log form -->
    <div class="row">
      <div class="col s12 m4">
          <div class="icon-block">
            <div id="callBar" style="width:100%; height:400px;"></div>
          </div>
      </div>
      <div class="col s12 m4">
          <div class="icon-black">
            <div id="callLine" style="width:100%; height:400px;"></div>
          </div>
      </div>
    </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">
    <!-- New Contact Section  -->


    <!-- New call log form -->
<div class="container" ng-controller='mainController'>

  <form>
    <div class="form-group col s12">

      <input id = 'firstname' type="text" class="form-control input-lg" ng-model="formData.firstname">
      <label for="firstname">First Name</label>
      
      <input id = 'lastname' type="text" class="form-control input-lg"  ng-model="formData.lastname">
      <label for="lastname">Last Name</label>  
      
      
      <input id = 'phone' type="text" class="validate"  ng-model="formData.phone">
      <label for="phone">Phone</label>  
      
      <input id = 'email' type="text" class="form-control input-lg"  ng-model="formData.email">
      <label for="email">Email</label>  
    
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-lg" ng-click="addContact()">Add Contact</button>
  </form>



</div>


<!-- End of new log form -->

      
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">I'm making this so that I will be better about calling people back.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            
          </ul>
        </div>
      </div>

    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/javascripts/materialize.js"></script>
  <script src="/javascripts/init.js"></script>
  <script src="/javascripts/highcharts.js"></script>
  <script src="/javascripts/myChart.js"></script>
  <script src="/javascripts/app.js"></script>



  </body>
</html>
